@CHARSET "UTF-8";

div#global {
	margin-left : auto;
	margin-right : auto;
	width : 800;
}

div#header {
	width : 100%;
	height : 100px;
	background-color: #FFFFFF;
}

div#navigation {
	width : 100%;
	height : 32;
	background-image:url(../images/navigation_bg.png);
	background-repeat:repeat-x;
	background-position: top left;
}

div#body {
	float : none;
	width : 100%;
	height : 80%;
	background-color: #EECCEE;
}

div#menuGauche {
	float : left;
	width : 100px;
	height: 80%;
	background-color: #00EEFF	
}

div#menuDroit {
	float : right;
	width : 100px;
	height: 80%;
	background-color: #AAEEFF	
}

div#footer {
	clear : both;
	width : 100%;
	height : 20px;
	background-color: #00FF00;
	text-align: center;
}